@charset "UTF-8";

html {
    background: url(../images/Team_heroBG.jpg) no-repeat left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    font-size: 1.5em;
    color: #fff;
}

p {
    color: #fff;
}

a {
    color: #fff;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(250px, auto);
}

/* +++ Start Logo +++ */
.logoCon {
    grid-column: 1 / 2;
    grid-row: 2;
}

.logo {
    height: 22vh;
    margin-left: 2vw;
    position: fixed;
}

/* +++ End Logo +++ */

/* +++ Start Sidebar - Team +++ */

.sidebar {
    grid-column: 1;
    grid-row: 3 / 8;
    position: fixed;
    padding-top: 20px;
}

.dept {
    position: fixed;
    bottom: 1vh;
    left: 3vw;
    height: 80vh;
}

/* +++ End Sidebar - Team +++ */

/* +++ Start Main Nav +++ */
.mainNavCon {
    grid-column: 2;
    grid-row: 4/8;
}

.mainNav {
    position: absolute;
    top: 9vh;
    left: 18vw;
}

.mainNav ul li {
    display: inline-block;
    padding: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.mainNav ul li:hover {
    transform: scale(1.05);
}

.active {
    background: url(../images/stroke.svg) no-repeat center;
    background-size: 120px;
}

/* +++ End Main Nav +++ */

/* +++ Start Slogan +++ */
.homeHeroContent {
    grid-area: 1/3/2/8;
    display: flex;
    align-self: center;
}

.slogan {
    width: 60vw;
    font-size: 72px;
    padding: 0 auto;
    margin: 10px 0;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.sloganCon h3 {
    font-size: 64px;
    color: #fff;
    margin: 10px 0;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
/* +++ End Slogan +++ */

/* +++ Start Team +++ */
.teamCon {
    grid-column: 3 /10;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);

    grid-auto-rows: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.teamCon p {
    color: #222;
}

.ourTeam {
    text-align: center;
    grid-area: 1/1/2/-1;
}

.teamTitles {
    font-size: 48px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #da291c;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.designDiv {
    display: flex;
    justify-content: space-evenly;
    grid-area: 2/1/3/-1;
}
.designDiv .effect {
    width: 250px;
}

#katie {
    order: 1;
}
#starbuck {
    order: 2;
}
#gavin {
    order: 3;
}
#caya {
    order: 4;
}

.extension {
    display: flex;
    grid-row: 3;
    grid-column: 1/-1;
}

.currentMember {
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 2px 2px #e6e6e6;
    border: 5px solid whitesmoke;
    border-left: 0;
    grid-column: 1;
    margin: 0;
}
.currentMember img {
    width: 100%;
}

.currentInfo {
    width: 100%;
    background-color: rgba(218, 41, 28, 0.8);
    border: 5px solid whitesmoke;
    box-shadow: 1px 2px 2px #e6e6e6;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}

.currentInfo .button {
    font-size: 48px;
    text-align: center;
    order: -1;
    text-transform: uppercase;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000;
}

.currentInfo h2 {
    font-size: 36px;
    margin: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)
}
.currentInfo p {
    color: whitesmoke;
    font-size: 26px;
    margin: 0px 20px;
}

/* +++ End Team +++ */

/* +++ Start Image Hover Effect +++*/

.effect {
    display: inline-block;
    margin: 10px 10px 20px 0;
    border: 5px solid whitesmoke;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 2px 2px #e6e6e6;
    cursor: default;
}
.effect .frost {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.effect img {
    display: block;
    width: 100%;
}
.effect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 24px;
    padding: 15px 10px 0;
    margin: 20px 0 0 0;
    text-shadow: 1px 2px 1px rgba(34, 34, 34, 0.4)
}


.effect .button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    margin: 15px 0 0 0;
    padding: 4px 8px;
    background: #222 ;
    color: #fff;
    box-shadow: 1px 2px 1px rgba(34, 34, 34, 0.5);
    cursor: pointer;
}


.effect-view img {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.effect-view .frost {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(218, 41, 28, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.effect-view h2 {
    margin-top: 25%; 
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.effect-view p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.effect-view:hover img {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.effect-view a.button {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.effect-view:hover .frost {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.effect-view:hover h2,
.effect-view:hover p,
.effect-view:hover a.button {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.effect-view:hover a.button {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
/* +++ Start Image Hover Effect +++*/
